

.head {
  width: .25em;
  height: .25em;
  background: #16a085;
  border-radius: .1em .05em .1em 0;
  /*transform: translate(x,y);*/
  transform: translateZ(-1em) translate(.7em, .35em);
  animation: look-out 5s infinite;
}

.tail {
  width: .15em;
  height: .15em;
  background: #16a085;
  border-radius: .2em 0 0 0;
  transform: translateZ(-1em) translate(0,.45em);
  animation: tail-out 5s infinite;
}

.foot {
  width: .1em;
  height: .15em;
  background: #138a72;
  border-radius: .15em .15em .15em 0;
  top: .65em;
  animation: feet-out 5s infinite;
}

.front {
  left: .7em;
}

.back {
  left: .2em;
}


@keyframes tail-out {
  0% {transform: translateZ(-1em) translate(0,.45em);}
  10% {transform: translateZ(-1em) translate(-0.15em,.45em);}
  30% {transform: translateZ(-1em) translate(0,.45em);}
  50% {transform: translateZ(-1em) translate(-0.15em,.45em);}
}

@keyframes feet-out {
  10%, 50% {transform: rotate(0);}
  0%, 30%, 100% {transform: rotate(-70deg);}
}

@keyframes look-out {
  0%, 30% {
    transform: translateZ(-1em) translate(.7em,.35em);
  }
  10%, 50% {
    transform: translateZ(-1em) translate(1em,.35em);
  }
}

@keyframes go {
  30% {
    transform: translateX(.5em);
  }
  50% {
    transform: translateX(1em);
  }
}